name: "Test FRAN"
on:
  workflow_dispatch: # allows manual triggering
  push:
    paths:
      - 'flake.lock'
      - 'flake.nix'
      - 'versions/*.json'
      - 'packages/**/*.nix'
      - '.github/workflows/*.yml'
      - 'test/*.R'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v6
    - uses: DeterminateSystems/nix-installer-action@main
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - uses: cachix/cachix-action@v16
      with:
        name: rde
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        extraPullNames: rstats-on-nix, nix-community
    - run: nix build .
    - run: nix develop -c Rscript test/test.R
